@page "/login"
@using RallyTeam5Client.Services

<PageTitle>Øvelser</PageTitle>

<h1>Login</h1>

<EditForm Model="this" FormName="fn" OnSubmit="LoginWithDetails">
    <InputText @bind-Value="Username" />
    <br />
    <br />
    <InputText @bind-Value="Password" />

    <br />
    <br />
    <button type="submit" @bind:onclick>Login</button>
</EditForm>

@code {
    [SupplyParameterFromForm]
    private string? Password { get; set; }

    [SupplyParameterFromForm]
    private string? Username { get; set; }

    [Inject]
    private NavigationManager NavigationManager { get; set; } = default!;

    [Inject]
    private IUserManager UserManager { get; set; } = default!;

    private async Task LoginWithDetails()
    {
        ArgumentNullException.ThrowIfNull(Username);
        ArgumentNullException.ThrowIfNull(Password);

        await UserManager.Login(Username, Password);
        NavigationManager.NavigateTo("/");
    }
}
